.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

h2 {
  margin-bottom: 4rem;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

p, a {
  font-size: small;
}

a {
  margin-top: 0rem;
  color: rgb(31, 152, 222);
}

.LoginButton, .LogoutButton, .CreateAccountButton {
  border-radius: 0.5rem;
  background-color: grey;
  color: white;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  cursor: pointer;
}

.LoginButton:hover, .CreateAccountButton:hover {
  background-color: green;
}

.LogoutButton:hover {
  background-color: red;
}

.Login {
  margin-top: 4rem;
}

.Login, .Password, .ConfirmPassword {
  margin-bottom: 0.5rem;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
